/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */

/**
 * You can put your own style in this file.
 * It will be included in all color schemes
 */

//example mixin to set the text-selection style

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');

@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }
}

@include selection {
    color: white;
    background: #3399ff;
}

header .navbar-default {
    background-color: #183267;
    position: relative;
    height: 80px;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
   font-size: 1em;
   line-height: 1.5;
   margin-bottom: 1.5em;
}

.trail-wrapper {
    background-color: #F2F2F2;
    border: none;
}

#main-container #sidebar {
    background-color: #fff;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  z-index: 2;
  color: #000;
  background-color: #F2F2F2;
  border-color: #ddd;
}

.btn-primary {
   color: #000;
   background-color: #F2F2F2;
   border-color: #ccc;
}

a.list-group-item .list-group-item-heading {
   font-weight: 600;
}

.list-group-item.active .list-group-item-heading, .list-group-item.active .list-group-item-heading > small, .list-group-item.active .list-group-item-heading > .small, .list-group-item.active:hover .list-group-item-heading, .list-group-item.active:hover .list-group-item-heading > small, .list-group-item.active:hover .list-group-item-heading > .small, .list-group-item.active:focus .list-group-item-heading, .list-group-item.active:focus .list-group-item-heading > small, .list-group-item.active:focus .list-group-item-heading > .small {
   color: #353535;
}

body {
    height: 100%;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 1.5;
    font-weight: normal;
    color: #191919;
}

.navbar-nav {
   margin: 7.5px;
}

.navbar-brand {
   padding: 0px;
}

.navbar-nav > li > a {
    line-height: 20px;
    font-size: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

header .navbar-brand img {
   height: 41px;
   width: 188px;
   z-index: 1;
   display: block;
   text-indent: -9999px;
   position: relative;
   margin-top: 15px;
}

header .navbar-brand-small img {
   height: 20px;
   width: 94px;
   z-index: 1;
   display: block;
   text-indent: -9999px;
   position: relative;
   margin-top: 15px;
   margin-left: 5px;
}

.logo-title {
   padding-top: 15px;
   font-size: 120%;
   color: #fff;
   text-align: center;
}

.dctype {
   margin-top: 10px; 
}

#aspect_discovery_SimpleSearch_div_search-results .ds-artifact-item {
   margin-bottom: 0;
}

.thumbnail {
   margin-bottom: 0;
}

footer {
   margin-bottom: 20px;
}

div.visible-xs footer {
   height: 80px;
}

div.visible-sm footer {
   height: 80px;
}

div.hidden-xs footer {
   height: 40px;
}

div.hidden-sm footer {
   height: 40px;
}

footer a {
   margin-right: 8px;
}

footer div.col-xs-7, div.col-sm-8 {
   margin-top: 10px;
   line-height: 20px;
   width: 50%;
   padding-left: 0;
}

footer div.footer-right {
   margin-top: 5px;
   line-height: 20px;
   width: 50%;
   padding-right: 0;
}

footer .row > div {
   border-top: none;
}

@media (max-width: 767px) {
 .item-wrapper.row {
  border-bottom: none;
}}

table.item-view td {
  padding: 20px;
  vertical-align: top;
}

.item-page-field-wrapper {
  margin-bottom: 5px;
}

span.artifact-title {
  font-size: 16px;
}
 
#main-container .row-offcanvas {
  background-color: white;
}

div.artifact-info {
  margin-bottom: 10px;
}

figure.copyrightimages {
  margin-bottom: 10px;
}

/*img.frontpage {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
    opacity: .8;
    -webit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

img.frontpage:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    opacity: 1;
}*/

figure.frontpage_images {
    display: inline-block;
    margin-right: 60px;
    margin-left: 0px;
    margin-bottom: 30px;
    margin-top: 30px;
    position: relative;
    width: 220px;
}

#first_row img, #second_row img {
    display: inline-block;
}

figure.frontpage_images figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 5px 5px 5px;
    -webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box; 
          box-sizing: border-box;
    text-align: left;
    color: white;
}

div.itemview-citation {
   font-size: 18px;
   margin-bottom: 5px;
}

div.itemview-citation-small {
  font-size: 14px;
  margin-bottom: 5px;
}
 
.control-label.required::after {
  content: none;
}

div#socialmedia {
 padding-top: 1.5em;
 padding-bottom: 1.5em;
}

ul.share-buttons {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}
ul.share-buttons li {
  display: inline;
  margin-left: 5px;
}

hr {
  border-top: 1px solid #ddd;
}

#toc_container {
//    background: #f9f9f9 none repeat scroll 0 0;
//    border: 1px solid #aaa;
//    display: table;
    font-size: 95%;
    margin-bottom: 1em;
//    padding: 20px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: inside none none !important;
}
